.map {
    width: 250vw;
    height: auto;

    z-index: -10;
}

#mappern {
    position: absolute;
    width: 50vw;
    height: auto;
    top: 10%;
    left: -70%;
}

.mapwrap {
    position: relative;
    overflow: hidden;
    height: 80vh;
    width: 100vw;
    z-index: 1;
}

.svglabel {
    font-family: Neue Haas Unica Pro regular;
    font-weight: 700;
    position: relative;
    z-index: 2;
    text-shadow: white 0 0 0;
}

.svglabel-back {
    color: rgba(255, 255, 255, 0.744);
}

.mapelement {
    color: #c8c8c8;
}

.room:hover {
    color: #FFF;
    cursor: pointer;
}

.hallway {
    color: var(--Goof-Blue-400);
}

#foreignkatedralen {
    width: 100px;
    height: 100px;
}

#foreignmezza {
    width: 300px;
    height: 150px;
    overflow: visible;
}

#particles-mezza {
    width: 100%;
    height: 100%;
    transform: rotate(-17deg);

}

.modaltitle {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 2rem;
}

.modaltitle * {
    font-size: 2rem;
}

#modalclose {

    height: 3rem;
    font-size: 2rem;
    background-color: transparent;
    border: none;
}