nav {
    box-sizing: border-box;
    width: 100vw;
    background-color: var(--goof-yellah, #FFE4A1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav ul li {
    list-style: none;
}

img {
    width: 15vw;
    height: 15vw;
}

svg {
    width: 15vw;
    height: 15vw;
}

svg > *{
    color: var(--dark-grey, #F3F3F3);
}