header {
    width: 100vw;
    background-color: var(--goof-yellah, #FFE4A1);
    padding: 1rem;
    padding-bottom: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

nav ul li {
    list-style: none;
}

img {
    width: 15vw;
    height: 15vw;
}

#map {
    /* margin-right: 3rem; */
}