nav {
    box-sizing: border-box;
    width: 100vw;
    background-color: #FFE4A1;
}

nav ul {
    display: flex;
    justify-content: space-between;
    margin: 0 5rem;
}

nav ul li {
    list-style: none;
}

#logo {
    width: 15vw;
    height: auto;
}