.roomcard-title {
    display: flex;
    justify-content: space-between;
    height: 3rem;
}

.symbols {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    width: 180px;
}


.roomtext,
.textcontainer p,
.above p {
    color: rgb(255, 255, 255);
}

.histogramcontainer,
.textcontainer,
.symbolcontainer {
    background-color: #5C6E5D;
    border-radius: 10px;
}

.extendedcontainer {
    display: flex;
    flex-direction: column;
}

.bottomcontainer {
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: 3fr 1.5fr;
    gap: 0.5rem;
}

.bottomcontainer>* {
    width: 100%;
}

.textcontainer {
    display: flex;
    flex-direction: column;
}

.textcontainer li {
    display: flex;
    justify-content: space-between;
    padding: 0.7rem 1rem;
}

.symbolcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.symbolcontainer>* {
    place-self: center;
    transform: scale(1.8);
}

.above {
    display: flex;
    gap: 0.5rem;
    text-align: center;
    align-items: center;
}

.hidden {
    display: none;
}