.campustitle,
.buildingtitle,
.roomtitle {
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 3px;
}

.campus {}

.hidden {
    display: none;
}

.campustitle {
    background-color: var(--goof-yellah);
    font-size: 2rem;


}

.building {}

.buildingtitle {
    background-color: var(--goof-yellah-200);
    font-size: 1.6rem;
    margin-left: 1.5rem;

}

.roomtitle {
    background-color: var(--dark-grey);
    color: #F1F1F2;
    font-size: 1.3rem;
    margin-left: 3rem;
}

#particles.js {
    width: 500px;
    height: 500px;

}