* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F3F3F3;
}

p,
a,
li,
h1,
h2,
h3 {
    color: goof yellah;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    color: #fff2c8;
}

.mapelement {
    color: rgb(183, 183, 183);
}

.room:hover {
    color: #8d8dff;
    cursor: pointer;
}

.hallway {
    color: #aaff64;
}