.roomcard1 {
    width: 95vw;
    margin: 0 auto;
}

.symbols {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    width: 180px;
}

.symbols>* {
    height: auto;
    display: grid;
    place-self: center;
}

.roomtext,
.textcontainer1 p {
    color: rgb(255, 255, 255);
}

.histogramcontainer1,
.textcontainer1,
.symbolcontainer1 {
    background-color: rgb(71, 71, 71) !important;
    border-radius: 10px;
}

.extendedcontainer1 {
    display: flex;
    flex-direction: column;
}

.bottomcontainer1 {
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: 3fr 1.5fr;
    gap: 0.5rem;
}

.bottomcontainer1>* {
    width: 100%;
}

.textcontainer1 {
    display: flex;
    flex-direction: column;
}

.textcontainer1 li {
    display: flex;
    justify-content: space-between;
    padding: 0.7rem 1rem;
}

.symbolcontainer1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.symbolcontainer1>* {
    place-self: center;
    transform: scale(1.8);
}


.modal {
    display: flex;
    flex-direction: column;
    background-color: #FFE4A1;

}

.mapabove {
    color: black;
}

.above1 {
    display: flex;
    gap: 0.5rem;
    text-align: center;
    align-items: center;
}